@font-face {
  font-family: Geologia;
  src: url(../assets/fonts/Geologica-Regular.ttf);
  font-weight: bold;
}
@font-face {
  font-family: GeologiaSemiBold;
  src: url(../assets/fonts/Geologica-SemiBold.ttf);
  font-weight: bold;
}
* {
  font-family: Geologia, sans-serif !important;
}
:root {
  --app-primary-color: #0c9287;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--app-primary-color);
  transform-origin: left;
  z-index: 20;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--app-primary-color);
  transform-origin: right;
  z-index: 20;
}
.title-bar::before {
  border-radius: 4px;
  content: '';
  display: inline-block;
  margin-right: 8px;
  margin-left: 6px;
  height: 6px;
  width: 16px;
  position: relative;
  bottom: 3px;
  background-color: var(--app-primary-color);
}
.font-semibold {
  font-family: GeologiaSemiBold !important;
}
.PhotoView-Slider__BannerWrap {
  top: var(--top-insets);
}
